body {
  margin: 20px;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h2 {
  align: left;
}

h1 {
  align: left;
}

.grid {
  margin: 0 auto;
  width: 160vw;
  max-width: 120vh;
  height: 160vw;
  max-height: 120vh;
  font-size: 120%;
}
.row {
  display: flex;
}
.box {
  margin: 5px;
  color: white;
  font-weight: thin;
  flex: 1 0 auto;
  position: relative;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

}
.box:after {
  content: "";
  float:left;
  display: block;
  padding-top: 100%;
}
.box .inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.box:hover .inner {
  transform: rotateY(180deg);
}



/* This container is needed to position the front and back side
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;

}*/


/* Position the front and back side */
.flip-card-front, .flip-card-back {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  margin: 5px;
  color: white;
  font-weight: thin;
  flex: 1 0 auto;
  position: relative;
  perspective: 1000px;
  transform: rotateY(180deg);
}
